@import "../common-imports";

.slick-01 {
    @include media-breakpoint-up(lg) {
        margin-right: rem(-16px);
        margin-left: rem(-16px);
    }

    > div {
        @include media-breakpoint-up(lg) {
            padding-left: rem(16px);
            padding-right: rem(16px);
        }
    }

    .slick {
        &-track {
            margin-right: rem(-12px);
            margin-left: rem(-12px !important);

            @include media-breakpoint-up(md) {
                margin-right: rem(-16px);
                margin-left: rem(-16px !important);
            }

            > div {
                padding-left: rem(12px);
                padding-right: rem(12px);

                @include media-breakpoint-up(md) {
                    padding-right: rem(16px);
                    padding-left: rem(16px);
                }
            }

            .slick-slide.prev {
                opacity: 0;
            }
        }
    }
}
