.accordion {
    .card {
        &-header {
            button {
                border: none;
                background-color: transparent;
                color: inherit;
                &::after {
                    content: "\e902";
                    @include icons-pseudo;
                    width: rem(20px);
                    font-size: rem(20px);
                    color: $primary;
                    position: absolute;
                    top: 0;
                    right: 0;
                    @extend .transition-fast;
                }
                &.is-active {
                    &::after {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
}
