.btn {
    height: rem(56px);
    padding: rem(18px 48px);
    font-size: rem(15px);
    line-height: rem(20px);
    font-weight: 500;
    border-radius: rem(28px);
    @extend .transition-fast;

    &:focus {
        box-shadow: none !important;
    }

    &-primary {
        // &:hover,
        // &:focus {
        //     background-color: $dark-teal;
        // }
        &:active,
        &.disabled,
        &:disabled {
            background-color: $primary;
            @extend .opacity-3;
        }
    }

    &:hover,
    &:focus {
        @extend .opacity-3;
    }
    &.disabled,
    &:disabled {
        @extend .opacity-2;
    }

    &-cta {
        height: 48px;
        line-height: 1;
        padding: rem(6px 24px);
        display: flex;
        align-items: center;
    }
}
