.custom-control {
    padding-left: rem(45px);

    &:last-child {
      margin-bottom: 0 !important;
    }

    &:first-child {
      margin-top: 0 !important;
    }

    &-input {
        width: rem(30px);
        height: rem(30px);
    }

    &-label {
        &::before {
            border-color: red;
            width: rem(24px);
            height: rem(24px);
            left: rem(-43px);
        }

        &::after {
            content: "";
            left: rem(-45px);
        }
    }
}

.custom-checkbox {
    .custom-control-label::before {
        border-radius: rem(1px);
    }

    .custom-control-input:checked ~ .custom-control-label::after {
        content: "\e91d";
        font-family: $icomoon-font-family;
        font-size: rem(20px);
        color: $white;
        background-image: none;
        top: rem(1px);
        left: rem(-40px);
    }
}
