.form-control {
    background-color: $white;
    min-height: rem(64px);
    padding: rem(18px 20px);
    font-size: rem(17px);
    line-height: rem(28px);
    @extend .transition-fast;
    border-radius: rem(2px);

    &:focus,
    &:active {
        border-color: $primary;
        outline: none;
        box-shadow: 0 0 0;
    }

    &:disabled,
    &[readonly] {
        border-color: $gray-100;
    }

    &::placeholder {
        color: red;
        @extend .opacity-4;
    }
}

.form-group {
    width: 100%;
}

textarea.form-control {
    height: rem(215px);
}

.wpcf7-not-valid-tip {
    color: red;
    display: block;
    margin-top: rem(8px);
}
