.hamburger,
.hamburger-box,
.hamburger-inner,
.hamburger--spin.is-active .hamburger-inner,
.hamburger--spin.is-active .hamburger-inner::before,
.hamburger--spin.is-active .hamburger-inner::after,
.hamburger-inner::after,
.hamburger-inner::before {
    width: rem(30px);
}

.hamburger {
    background-color: transparent;
    height: rem(30px);
    cursor: pointer;
    font: inherit;
    color: inherit;
    overflow: visible;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    border-radius: 0;

    &.is-active {
        z-index: 999;

        &:hover {
            @extend .opacity-7;
        }

        .hamburger-inner {
            background-color: $white;

            &::before,
            &::after {
                background-color: $white;
            }
        }
    }

    &-box {
        height: rem(25px);
    }

    &-inner {
        background-color: $white;
        height: rem(2px);
        top: 50%;
        transform: translateY(-50%);
        transition-property: transform;
        transition-duration: 0.15s;
        transition-timing-function: ease;
        @include border-radius(0);

        &::before,
        &::after {
            content: "";
            background-color: $white;
            height: rem(2px);
            @extend .position-absolute, .position-r-0;
            display: block;
            transition-property: transform;
            transition-duration: 0.15s;
            transition-timing-function: ease;
        }

        &::before {
            top: rem(-8px);
        }

        &::after {
            bottom: rem(-8px);
        }
    }

    &--spin {
        .hamburger-inner {
            transition-duration: 0.22s;
            transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

            &::before {
                transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
            }

            &::after {
                transition: bottom 0.1s 0.25s ease-in,
                    transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
            }
        }

        &.is-active .hamburger-inner {
            transform: rotate(225deg);
            transition-delay: 0.12s;
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

            &::before {
                top: 0;
                opacity: 0;
                transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
            }

            &::after {
                bottom: 0;
                transform: rotate(-90deg);
                transition: bottom 0.1s ease-out,
                    transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
            }
        }
    }
}


.theme-header--dark {
    .hamburger-inner,
    .hamburger.is-active .hamburger-inner {
        background-color: $primary;
        &::after,
        &::before {
            background-color: $primary;
        }
    }
}
