hr,
.hr {
    border: 0;
    border-bottom: 1px solid $gray-300;
    height: rem(1px);
    display: block;
    margin: 0;
    padding: 0;
}

.hr {
    &--light {
        border-color: $white;
    }
    &--dark {
        border-color: $gray-800;
    }
}
