.list {
    &-bordered {
        li {
            border-bottom: 1px solid #D6DAEB;
            padding: rem(16px 0);
            font-weight: $font-weight-light;
            &:first-child {
                border-top: 1px solid #D6DAEB;
            }
        }
    }
    &-podcast {
        a {
            width: rem(42px !important);
            height: rem(42px !important);
            img {
                width: rem(20px);
                height: rem(20px);
            }
        }
    }
}
