.navbar {
    padding: 0;

    &-brand {
        padding: 0;

        img {
            height: rem(25px);
            filter: invert(100%) brightness(500%);
        }
    }
}

.nav {
    &-main {
        .nav-item {
            padding: 0;
            margin: 0;
            margin-left: rem(36px);
            &.active {
                .nav-link span::after {
                    opacity: 1; // Active State - value should be 1
                }
            }

            &:first-child {
                margin-left: 0;
            }

            .nav-link {
                span {
                    line-height: rem(91px);
                }
            }
        }

        .nav-link {
            font-size: rem(14px);
            line-height: 1;
            color: $white;
            text-decoration: none;
            padding: 0;
            display: block;

            &:hover {
                color: $primary !important;
            }

            span {
                display: block;
                position: relative;

                &::after {
                    content: "";
                    background-color: $white;
                    width: 100%;
                    height: rem(2px);
                    position: absolute;
                    left: 0;
                    bottom: rem(1px);
                    transition: all 0.1s ease;
                    opacity: 0;
                    z-index: -1;
                }
            }
        }

        .dropdown-menu {
            border: none;
            min-width: rem(145px);
            top: 100%;
            margin-top: rem(-1px !important);
            font-size: rem(20px);
            color: inherit;
            left: rem(-105px);
            padding: rem(48px 80px 80px 48px);
            border-radius: 0;
            transform: scaleY(0);
            transform-origin: top;
            transition-duration: 0.25s;

            &--for-business {
                min-width: rem(975px);
                padding-right: rem(30px);
            }

            > .row {
                margin-left: rem(-48px);
                margin-right: rem(-48px);

                > div {
                    padding-left: rem(48px);
                    padding-right: rem(48px);
                    &::after {
                        content: "";
                        background-color: $gray-500;
                        width: rem(1px);
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                    &:first-child {
                        &::after {
                            display: none;
                        }
                    }
                }
            }

            ul {
                background-color: rgba(255, 255, 255, 0.8);
                list-style-type: none;
                border-radius: 0;

                > li {
                    &:last-child {
                        margin-bottom: 0 !important;
                    }

                    &::before {
                        display: none;
                    }

                    .dropdown-item {
                        line-height: rem(28px);
                    }
                }

                &.is-stack-horizontally {
                    min-width: 575px;
                    margin-left: rem(-17px);
                    margin-right: rem(-17px);

                    > li {
                        flex: 0 0 50%;
                        padding-left: rem(17px);
                        padding-right: rem(17px);
                    }
                }
            }

            a {
                &:hover {
                    color: $primary !important;
                }
            }
        }

        .dropdown-item {
            text-decoration: none;
            padding: 0;

            &:hover {
                background-color: transparent;
            }
        }

        .dropdown-is-on {
            .nav-link {
                span {
                    &::after {
                        opacity: 1;
                    }
                }
            }
        }
    }
    &-account {
        .nav-link {
            font-size: rem(30px);
        }
    }
}

.#{$global} {
    &-header {
        &--dark {
            .navbar-brand img {
                filter: none;
            }
            
            .nav-main {
                .nav-item {
                    .nav-link {
                        color: $secondary;
                        span {
                            &::after {
                                background-color: $gray-500;
                            }
                        }
                    }
                }
            }

            .btn-outline-white {
                color: $secondary;
                border-color: $secondary;
                &:hover,
                &:focus {
                    border-color: $primary;
                }
            }
        }
    }
}

// For Hover on Desktop
@include media-breakpoint-up(lg) {
    .nav-main .nav-item:hover > .dropdown-menu {
        transition: all 0.1s ease 300ms;
    }

    .theme-header {
        transition: none;
    }

    .nav-item > .dropdown-menu,
    .nav-item:hover > .dropdown-menu .dropdown .dropdown-menu {
        display: block;
    }

    .nav-item:hover > .dropdown-menu .dropdown .dropdown-menu {
        left: 100%;
        top: 0;
    }

    .nav-item:hover > .dropdown-menu {
        transform: scaleY(1);
    }

    .nav-item:hover > .dropdown-menu .dropdown:hover .dropdown-menu {
        visibility: visible;
        opacity: 1;
    }
}
