.pushy {
    background-color: $white;
    @extend .position-fixed;
    @extend .w-100;
    height: calc(100% - 90px);
    top: rem(89px);
    overflow-x: hidden;
    z-index: 10;
    -webkit-overflow-scrolling: touch;

    &--left {
        left: 0;
        transform: translate3d(-100%, 0, 0);
    }

    &-content {
        @extend .h-100;
        min-height: 100% !important;
        visibility: hidden;
        transition: visibility 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);

        @include media-breakpoint-up(md) {
            padding-left: rem(30px);
            padding-right: rem(30px);
        }
    }

    .nav {
        .link-only {
            font-size: rem(25px);
            line-height: rem(35px);
            font-weight: bold;
            @extend .text-dark;
            padding: rem(13px 0);
            white-space: normal;
            transition: none;
            display: block;
        }

        &-item {
            @extend .pl-0;

            &::before {
                @extend .d-none;
            }

            &:last-child {
                padding-bottom: 0;
                margin-bottom: 0;
                border: none;
            }

            .active {
                .dropdown-toggle {
                    &::after {
                        transform: translateY(-50%) rotate(180deg);
                    }
                }

                .link-only {
                    transition: none;
                }
            }
        }

        .dropdown-toggle {
            &::after {
                font-size: rem(15px);
                font-weight: 400;
                line-height: 1;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
            }
        }
    }
}

.pushy-open-right {
    overflow: hidden;

    .theme-main,
    .push,
    .pushy {
        transform: translate3d(0, 0, 0);
    }

    .pushy-content {
        visibility: visible;
    }
}

/* Menu Transitions */
.theme-main,
.pushy,
.push {
    transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@include media-breakpoint-down(lg) {
    _::-webkit-full-page-media,
    _:future,
    :root .safari_only {
        padding-bottom: rem(135px);
    }
}
