.social {
    @extend .d-flex;
    margin-bottom: 0;
    > li {
        margin-left: rem(25px);
        @extend .p-0;
        @extend .mb-0;
        &:first-child {
            margin-left: 0;
        }
        a {
            display: block;
            line-height: 1;
            text-decoration: none;
        }
    }

    &-links {
        li {
            margin-right: rem(16px);
            &.circle {
                a {
                    border: 1px solid $gray-600;
                    height: rem(48px);
                    width: rem(48px);
                    border-radius: 100%;
                    font-size: rem(22px);
                }
                &:hover {
                    a {
                        border-color: $primary;
                    }
                }
            }
            a {
                font-size: rem(28px);
            }
            &:last-child {
                margin-right: rem(0px);
            }
        }
        &--vertical {
            flex-direction: column;
            li {
                margin: rem(0 0 16px);
            }
        }
    }
}
