

.thumbnail {
    &-img {
        margin: rem(0px);
        position: relative;
        overflow: hidden;
        z-index: 1;
        img {
            @extend .mw-100;
        }
    }

    &-small {
        max-width: rem(26px);
    }

    &-medium {
        max-width: rem(322px);
        @extend .position-absolute;
        right: rem(-105px);
        bottom: rem(21px);
        height: rem(301px);

        @include media-breakpoint-up(sm) {
            bottom: rem(60px);
            max-width: rem(386px);
            height: rem(367px);
            right: rem(-152px);
        }

        @include media-breakpoint-up(md) {
            bottom: rem(60px);
            right: rem(-80px);
        }

        @include media-breakpoint-up(lg) {
            right: rem(0px);
        }
    }

}


